.nav-header {
  background-color: #ddd;
  height: 75px;
  margin-bottom: 2em;
}
.nav-brand {
  display: inline-block;
  float: left;
}
.nav-brand > a {
  text-decoration: none;
}
.brand {
  margin: 1.2em 0.5em;
}
.nav-items {
  display: inline-block;
  float: right;
}
.nav-items > a {
  display: inline-block;
  text-decoration: none;
  padding: 1.5em;
}

.container {
  padding: 2em 2em;
}
