.comment-container {
  border: solid .1px #BDBDBD;
  padding: 1em;
  margin: 10px 20px;
  position: relative;
  /* height: 185px; */
}
.comment-vote-btns {
  position: absolute;
  left: 0.3em;
  top: 5px;
}
.comment-content {
  margin-left: 30px;
}
.comment-author,
.comment-timestamp {
  display: inline-block;
}
.comment-author > i {
  margin-right: 5px;
}
.comment-author {
  font-style: italic;
}
.comment-timestamp {
  position: absolute;
  top: 0.5em;
  right: 0.2em;
}
.comment-edit-delete-grp {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
}
.comment-nav {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}
.comment-nav.edit-btn,
.comment-nav.delete-btn {
  padding: .5em 1em;
}
