.comment-container {
  border: solid .1px #BDBDBD;
  padding: 1em;
  margin: 10px 20px;
  position: relative;
  /* height: 185px; */
}
.comment-vote-btns {
  position: absolute;
  /* float: left; */
  /* display: inline-block; */
  /* border: solid 1px black; */
  left: 0.3em;
  top: 5px;
  /* bottom: 0em; */
  /* height: 75%; */
}
.comment-content {
  /* position: absolute; */
  /* height: 100%; */
  /* width: 90%; */
  margin-left: 30px;
  /* border: solid 1px black; */
  /* left: 5em; */
}
.comment-author,
.comment-timestamp {
  display: inline-block;
}
.comment-author > i {
  margin-right: 5px;
}
.comment-author {
  font-style: italic;
}
.comment-timestamp {
  /* float: right; */
  position: absolute;
  top: 0.5em;
  right: 0.2em;
}
.comment-edit-delete-grp {
  /* float: right; */
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
}
.comment-edit-delete-grp > div {
  display: inline-block;
  cursor: pointer;
  margin-left: 25px;
}
