.input-comment-container {
  background: #fff;
  height: 150px;
  padding: 1em;
}

.input-comment-submit {
  float: right;
}

.input-comment-author,
.input-comment-body {
  display: block;
  margin-bottom: 10px;
}

.input-comment-body {
  width: 100%;
  height: 75px;
}
