.post-edit-delete-grp {
  display: block;
  float: right;
  position: absolute;
  right: .8em;
  top: .5em;

}
.post-edit-btn,
.post-delete-btn {
  padding: .5em 1em;
  cursor: pointer;
  display: inline-block;
  margin: .3em .15em 0 15px;
}
.post-edit-btn > a,
.post-delete-btn {
  text-decoration: none;

}
.post-vote-btns {
  display: inline-block;
  margin-left: 25px;
}
.post-content {
  position: absolute;
  width: 85%;
  left: 6em;
  top: 1em;
}
.post-title:after{
  content: '';
  width: 88%;
  height: 3px;
  background: #E0E0E0;
  position: absolute;
  top: 1.5em;
  left: 0;
}
.post-author {
  position: absolute;
  right: 1em;
  top: 0.85em;
  font-size: 1em;
  font-style: italic;

}
.post-author > i {
  margin-left: 10px;
}
.post-title {
  font-size: 1.3em;
  font-weight: 700;
}
.post-body {
  position: absolute;
  top: 2.5em;

}
.post-footer {
  position: relative;
  margin-left: 10px;
}
