.vote-score-small {
  /* font-size: 2em; */
  padding: .2em 0;
}
.vote-score {
  font-size: 2em;
  padding: 1em 0;
}
.vote-btns {
  /* border: solid .5px black; */
  width: 100%;
  display: inline-block;
  /* margin-right: 15px; */
  text-align: center;
}
.up-vote,
.down-vote {
  cursor: pointer;
}
.up-vote,
.down-vote,
.vote-score {
  color: #757575;
}
